<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
				<key>dateExpires</key>
				<string>20/07/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>443</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>83RFSJ6CUP</string>
						<key>name</key>
						<string>Who Dares Gains Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WrappingHStack_-2B827DD78850F6C_PackageProduct.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>83RFSJ6CUP</string>
						<key>name</key>
						<string>Who Dares Gains Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>addy_shared.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>83RFSJ6CUP</string>
						<key>name</key>
						<string>Who Dares Gains Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>83RFSJ6CUP.host.stjin.addy.AddyStatisticWidget</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>83RFSJ6CUP</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.host.stjin.addy</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>83RFSJ6CUP.group.host.stjin.addy</string>
						</array>
					</dict>
					<key>name</key>
					<string>AddyStatisticWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>28cb9efc-9ebc-46f1-9310-6b3c93b8521d</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: host.stjin.addy.AddyStatisticWidget</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>83RFSJ6CUP</string>
						<key>name</key>
						<string>Who Dares Gains Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B651183274B7BDDBE758E95C2198AB8F06AEF5DD</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>83RFSJ6CUP.host.stjin.addy.AddyShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>83RFSJ6CUP</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.host.stjin.addy</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>83RFSJ6CUP.group.host.stjin.addy</string>
						</array>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>16d1de18-1a4c-4e26-a8ef-409f9c7b07c3</string>
						<key>dateExpires</key>
						<string>20/07/2025</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: host.stjin.addy.AddyShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>83RFSJ6CUP</string>
						<key>name</key>
						<string>Who Dares Gains Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>83RFSJ6CUP.host.stjin.addy</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:app.addy.io</string>
					<string>applinks:app.anonaddy.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>83RFSJ6CUP</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.host.stjin.addy</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>83RFSJ6CUP.group.host.stjin.addy</string>
				</array>
			</dict>
			<key>name</key>
			<string>addy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9ebf12d7-71b8-40bd-9076-c473f600509e</string>
				<key>dateExpires</key>
				<string>20/07/2025</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: host.stjin.addy</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>83RFSJ6CUP</string>
				<key>name</key>
				<string>Who Dares Gains Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>0.3</string>
		</dict>
	</array>
</dict>
</plist>
